DATABASE_URI=postgresql://deep:deep@127.0.0.1:5432/deep
PAYLOAD_SECRET=YOUR_SECRET_HERE

POSTGRES_ADMIN_PASSWORD=deep
POSTGRES_ADMIN_USER=deep
POSTGRES_PASSWORD=deep
POSTGRES_USER=deep
POSTGRES_DB=deep

PGADMIN_DEFAULT_EMAIL=a@b.com
PGADMIN_DEFAULT_PASSWORD=deep

STRIPE_SECRET_KEY=
